//@font-face {
//	font-family: 'LatoRegular';
//	src: url('../fonts/lato-regular-webfont.eot');
//	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
//	url('../fonts/lato-regular-webfont.woff') format('woff'),
//	url('../fonts/lato-regular-webfont.ttf') format('truetype'),
//	url('../fonts/lato-regular-webfont.svg#lato-regular-webfont') format('svg');
//	font-weight: normal;
//	font-style: normal;
//}


$base-font-size: 16px;
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-weight: normal;
$base-text-color:#000;
$base-line-height: 31px;
$measure: 760px;

$link-color: blue;
$link-visited-color: blue;
$link-hover-color: black;

$h1-font-size: 92px;
$h1-line: 31px;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 51px;
$h2-line: 31px;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 29px;
$h3-line: 31px;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: $base-font-size;
$h4-line: $base-font-size;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;