*{
	@include box-sizing(border-box);
}

body {
	color: $base-text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
}

a,.link {
	color: $link-color;
	text-decoration: none;

	&:visited {
		color: $link-visited-color;
	}

	&:hover, &:visited:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5,h6, .h6 { font-family: $base-font-family; font-weight: $base-font-weight; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 400%; letter-spacing: -2px; }
.h2 { font-size: 250%; letter-spacing: -1px; }
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }
.h6 { font-size: 100%; }